In [76]:
import pandas as pd

In [77]:
path = './data/elonmusk_tweets.csv'

df = pd.read_csv(path)
df.head()

,original text,clean text,sentiment,confidence
0,@jimfarley98 Thanks,thanks,POSITIVE,96.14
1,Will also be important for Mars,also important mar,POSITIVE,91.59
2,SpaceX is starting a program to take CO2 out o...,spacex starting program take co2 atmosphere am...,POSITIVE,90.22
3,@WholeMarsBlog Penalizing sustainable energy i...,penalizing sustainable energy insane,NEGATIVE,58.21
4,@PPathole @HardcoreHistory I will ask Dan for ...,ask dan tip,POSITIVE,93.37

In [78]:
df_count_sentiment = df['sentiment'].value_counts().to_frame().reset_index()
df_count_sentiment

      index  sentiment
0  POSITIVE         60
1  NEGATIVE         20

In [79]:
df_count_sentiment.query("index == 'POSITIVE'")["sentiment"]

0    60
Name: sentiment, dtype: int64

In [80]:
df_count_sentiment.query("index == 'NEGATIVE'")["sentiment"]

1    20
Name: sentiment, dtype: int64

In [81]:
    df_count_sentiment = df['sentiment'].value_counts().to_frame()
    df_count_sentiment['percentage'] = round(
        df_count_sentiment['sentiment'] / df_count_sentiment['sentiment'].sum() * 100, 2)
    df_count_sentiment = df_count_sentiment.reset_index().rename({'index': 'final_sentiment'}, axis=1)

In [82]:

a = [df_count_sentiment]
a

[  final_sentiment  sentiment  percentage
 0        POSITIVE         60        75.0
 1        NEGATIVE         20        25.0]

In [83]:
POSITIVE = []
NEGATIVE = []
for i in a:
    POSITIVE = int(i.query("final_sentiment == 'POSITIVE'")["sentiment"])
    NEGATIVE = int(i.query("final_sentiment == 'NEGATIVE'")["sentiment"])

In [84]:
POSITIVE

60

In [85]:
NEGATIVE

20

In [101]:
_tweetmodels

  original text clean text sentiment confidence
0             s          s  POSITIVE     63.38%